<script type="text/x-handlebars" data-template-name="login">
    {{#if loggedIn}}
      <p>You are already logged in!</p>
    {{else}}
      <form class="form-inline" {{action login on="submit"}}>
        <h2>Log In</h2>
        {{input value=email type="text" placeholder="Email"}}
        {{input value=password type="password" placeholder="Password"}}
        {{input class="btn" type="submit" value="Log In"}}
      </form>
      {{#if errorMessage}}
        <div class="alert alert-error">{{errorMessage}}</div>
      {{/if}}
    {{/if}}
</script>

<script type="text/x-handlebars" data-template-name="signup">
      <form class="form-inline" {{action signup on="submit"}}>
        <h2>Sign Up</h2>
        {{input value=email type="text" placeholder="Email"}}
        {{input value=password type="password" placeholder="Password"}}
        {{input class="btn" type="submit" value="Sign Up!"}}
      </form>
      {{#if errorMessage}}
        <div class="alert alert-error">{{errorMessage}}</div>
      {{/if}}
</script>

<script type="text/x-handlebars" data-template-name="report" id="report">


      {{#each expensesByWeek}}

      <table class="gridtable">
        <thead>
          <tr>
            <th>Week</th>
            <th>Total Spent</th>
            <th>Average per Transaction</th>
            <th>Number of Expenses</th>
          </tr>
        </thead>
        <tbody>
          <tr>

            <td>{{this.key}}</td>
            <td>{{this.amount}}</td>
            <td>{{this.average}}</td>
            <td>{{this.total_expenses}}</td>
          </tr>
        </tbody>
      </table>


      {{/each}}
      {{#if errorMessage}}
        <div class="alert alert-error">{{errorMessage}}</div>
      {{/if}}

</script>